{% extends "step1.html" %}
{% block pathtitle %}Fashion Management{% endblock %}
<!-- Content for this page -->
{% block step %}
    <div class="post-card">
        <h2>Step 1: Understanding the role</h2>
        <p>In order to understand if this career is for you, you must first gain a good understanding of what it would actually be like to work in this role! Watch the videos below to gain a better understanding. Videos include interviews with highly successful fashion managers as well as interactive activities demonstrating the day-to-day activities of the role.</p>
    </div>
    <br>
{% endblock %}