<!-- Use the base template -->
{% extends "base.html" %}
<!-- Content for this page -->
{% block content %}
    <body>
        <h1>How to cold email:</h1>
        <br>
        <h3>Cold email looking for experience!</h3>
        <br>
        <p>A cold email is one where you don’t already know the individual that you are contacting personally. It is often the case in life that you won’t already know the individual that you want to speak and meet with (at the beginning, even this was true with your friends!). We know that it can be scary, trying to reach out to someone completely unknown. But remember, everyone started out at a place very similar to you, and this fact will make a lot of people very willing to help. You just need that first spark of confidence to help begin the discussion.</p>
        <br>
        <p>Our recommended steps are as follows:</p>
        <br>
        <ol>
            <li>Know your target</li>
                <br>
                <p>You need to first understand which businesses are best suited for your interests and which will accommodate to help you gain work experience. This first step requires decent detective research skills from you. You need to use online resources such as Google to gain an understanding of all the fantastic businesses that interest you, and what particular opportunities exist locally. You also need to make sure that the company will be willing to give you this opportunity to gain basic work experience - as a rule of advice, smaller companies are often better when you are looking for very early-stage work experience.</p>
                <br>
                <p>Once you have found a local company that you would like to ask to help out and work for, you need to identify the relevant individual within that organisation to contact. In all cases, you want to target the person ‘highest up’ in the organisation possible (this just means try and speak to a manager or the business owner if possible). You can usually identify this individual by checking the company website (if it has one), or Googling for the manager of the name of the company, or by doing the Google search “[Name of company] Manager/Owner LinkedIn” - LinkedIn is an online social network, like Facebook, for working professionals. It is likely the manager or owner of your company of interest has an account on here, so it is a perfect way to find their name and potentially what they look like (it’s always nice to put a face to the name!). We will talk more about LinkedIn in another section.</p>
                <br>
                <p>Now that you know the name of the individual you want to reach out to, it is important to identify their contact details. Sometimes, on platforms like LinkedIn or the company website, this individual will put their email address. If so, Bingo! This is what you are looking for.</p>
                <br>
                <p>If they haven’t included their email address here, don’t panic - there are still some just as effective (if not more) techniques we can try. Nothing says commitment more than taking the time and effort to write out a traditional message, on pen-and-paper. If you cannot find a suitable email address - you can always write out your intended message and address the message to the individual of interest identified (e.g. “For the attention of Mr. So and So, Business Owner”) and either post it (if you can find their postal address online) or deliver it in person (our preferred choice - it shows you really mean business!).</p>
                <br>
            <li>Create a to-the-point message</li>
                <br>
                <p>Tip: use a word document to create a short message (50 words maximum) explaining your reasons for reaching out. Within this message, you want to appeal to the individual you are writing to in an attempt to win them over and let them help you (writing is an art in the form of persuasion!). To do this, you want to include any commonalities between you and the individual (or the company) as well as explain why this work experience opportunity will also help them.</p>
                <br>
                <p>Below is an example message you could include:</p>
                <br>
                <p><i>[Email Subject/Top of Letter: Young Motivated Student’s Request for Experience]</i></p>
                <br>
                <p><i>“Dear X,</i></p>
                <br>
                <p><i>I am a student at [X school], I am [X years] old and I am looking for my first hands-on experience in the world of [fashion/web development etc.]</i></p>
                <br>
                <p><i>I find the creative, dynamic and fast-paced aspect of the [fashion/technology etc.] world very interesting, and I want to understand whether it would be the place for me! From my online research, it seems that [X company] is an excellent place for a [fashion/technology etc.] interested individual to work within the [X name of local area] area.</i></p>
                <br>
                <p><i>I would greatly appreciate the opportunity to discuss the potential of working, or helping out in whatever way I can, for you and [X company].</i></p>
                <br>
                <p><i>Thanks very much for your time, and I look forward to your response.</i></p>
                <br>
                <p><i>Kind regards,</i></p>
                <p><i>X”</i></p>
            <li>Time it well</li>
                <br>
                <p>Remember, everyone is busy! It may take a few days (or longer) for the individual to even reply, but that’s OK. We also want to make sure that we ask the individual at the best time, when they may be happy to spend time to read the message. Therefore, we recommend sending the message early in the week (ideally Tuesday morning). As the individual will most likely be thinking about their work, and they may have enough time in the day to squeeze in a look at your message. It is entirely possible that your message gets stuck in the bottom of the individual’s email inbox, or in a pile of unread letters. Therefore, it is important to be prepared to follow up with a gentle reminder a few days later if needed. An example of a follow-up message is:</p>
                <br>
                <p><i>“Dear X,</i></p>
                <br>
                <p><i>I appreciated how extremely busy you must be, and I don’t wish to be a burden on your time, yet I am kindly resending my message to ensure it doesn’t get stuck at the bottom of your [inbox/mail list].</i></p>
                <br>
                <p><i>Thanks so much for your time and attention.</i></p>
                <br>
                <p><i>[Can include previous message here]”</i></p>
        </ol>
    </body>
{% endblock %}