<!-- Use the base template -->
{% extends "overview.html" %}
{% block pathtitle %}Mathematician{% endblock %}
<br>
{% block path %}
    <p class = "path-main-description">Working to use mathematics to solve many of the world’s problems. This includes working to develop new formulae and mathematical models in an attempt to try and interpret the world, as well as applying proven mathematical models to predict and understand the events that occur around us. For example, mathematics can help us learn more about Space and our Universe, as well help to find treatments for illness here on earth.</p>
    <br>
    <a href="{{ url_for('main.mathematician1') }}"><button class="steps-list"><h2>Step 1: Understanding the role</h2></button></a>
    <p></p>
    <p></p>
    <a href="{{ url_for('main.mathematician2') }}"><button class="steps-list"><h2>Step 2: Gain basic experience</h2></button></a>
    <p></p>
    <p></p>
    <a href="{{ url_for('main.mathematician3') }}"><button class="steps-list"><h2>Step 3: Learn relevant skills</h2></button></a>
    <p></p>
    <p></p>
    <a href="{{ url_for('main.mathematician4') }}"><button class="steps-list"><h2>Step 4: Further Learning</h2></button></a>
    <p></p>
    <p></p>
    <p></p>

    <div class="progress-bar-container">
        <div class="progress-bar-wrapper"></div>
        <script>
        //we can set animation delay as following in ms (default 1000)
        ProgressBar.singleStepAnimation = 1000;
        ProgressBar.init(
          [ 'Step 1: Understanding the role',
            'Step 2: Gain basic experience',
            'Step 3: Learn relevant skills',
            'Step 4: Further Learning'
          ],
          '',
          'progress-bar-wrapper'
        );
        </script>
    </div>
{% endblock %}