{% extends "step3.html" %}
{% block pathtitle %}Personal Trainer{% endblock %}
<!-- Content for this page -->
{% block step %}
    <div class="step-wrapper">
        <div class="post-card step-card">
            <h2>Step 3: Learn relevant skills</h2>
            <div class="post-card-text">
                <p>To stand out from the crowd, it is important to identify which skills will help you excel and succeed in a career as a personal trainer. The skills we believe are highly desirable for this role are:</p>
                <br>
                <ul>
                    <li>Basic anatomy (the functions of the muscular part of the body)</li>
                    <li>Basic health and wellbeing guidance</li>
                    <li>Communication</li>
                    <li>Client service management (how to help individuals)</li>
                </ul>
                <br>
                <p>Additional knowledge in the following areas may help too:</p>
                <br>
                <ul>
                    <li>Specialising in a particular component of exercise or sport (if you are interested in a particular activity, then it is possible you can work entirely in that field!)</li>
                    <li>Physical therapy and human body recovery (this is important to ensure the people you help stay fit and healthy. You can also specialise entirely in this field if it interests you).</li>
                </ul>
                <br>
                <br>
                <p>For each of these skills and domain areas, we have compiled a list of relevant resources that we believe will help you out a lot! They are fun, short and sweet videos that do a great job of explaining all the basic concepts required.</p>
            </div>
        </div>
    </div>
    <div class="step-control">
        <a href="{{ url_for('main.trainer2') }}"><button>Back</button></a>
        <a href="{{ url_for('main.trainer4') }}"><button>Next</button></a>
    </div>
    <br>
    <div class="progress-bar-container">
        <div class="progress-bar-wrapper"></div>
        <script>
        //we can set animation delay as following in ms (default 1000)
        ProgressBar.singleStepAnimation = 1000;
        ProgressBar.init(
          [ 'Step 1: Understanding the role',
            'Step 2: Gain basic experience',
            'Step 3: Learn relevant skills',
            'Step 4: Further Learning'
          ],
          'Step 3: Learn relevant skills',
          'progress-bar-wrapper'
        );
        </script>
    </div>
{% endblock %}