{% extends "step4.html" %}
{% block pathtitle %}Game Development{% endblock %}
<!-- Content for this page -->
{% block step %}
    <div class="step-wrapper">
        <div class="post-card step-card">
            <h2>Step 4: Further learning</h2>
            <div class="post-card-text">
                <p>When it comes to your future academic studies and schooling, you want to position yourself in a way that makes it easiest for you to succeed and find the job of your dreams.</p>
                <br>
                <p>We know that University is not for everyone, nor do you have to be at the top of your class to change the world! We believe that if you work hard (and smart - to not waste time) you can find the perfect opportunities for your passions.</p>
                <br>
                <p>Below are some of the academic and further learning paths that you can take on your way to becoming a game developer:</p>
                <br>
                <ul>
                    <li><b>Apprenticeships</b> - a great way to get hands-on experience and understand the job. We recommend these create options:</li>
                    <li><b>Online accredited courses</b> - these are courses that are often cheaper and quicker than studying an entire University degree, yet provide practical experience as well as enable you to achieve a recognised award at the end to help you prove your skills! We recommend these amazing courses:</li>
                    <li><b>University</b> - the traditional route. There are many courses out there that can help with bringing you closer to the world of game development. If you want to gain a true academic appreciation for this career path, then this option may be for you - don’t worry, we know it’s hard to choose a degree and we have some great advice to help you choose!</li>
                </ul>
                <br>
                <br>
                <h3>Subjects that can help:</h3>
                <p>Learning the right skills and knowledge can go a long way to help you in advancing towards your ultimate career path. Remember: you do not have to be at the top of your class to change the world! We believe that if you work hard (and smart - to not waste time) you can find the perfect opportunities for your passions.</p>
                <br>
                <br>
                <h4>Years 7-9 [GCSE/BTECH]</h4>
                <ol>
                    <li>Computing</li>
                    <li>ICT (or equivalent - not needed if already doing computing)</li>
                    <li>Art Studies (if this is your thing, it can help you practice your creative flair!)</li>
                    <li>Modern language studies! (today is a global world - it is more important than ever to communicate across borders and work on a global scale. A modern language such as Mandarin (over 1 billion speakers in the world!) Spanish (there are over twenty Spanish speaking countries in the world) or French (the language of the high-end fashion companies) will go a long way in giving you a competitive advantage!)</li>
                </ol>
                <br>
                <h4>Year 10-12 [A Levels/BTECH]</h4>
                <ol>
                    <li>Computing</li>
                    <li>ICT (or equivalent - not needed if already doing computing)</li>
                    <li>Art Studies (if this is your thing, it can help you practice your creative flair!)</li>
                    <li>Mathematics (pure Maths skills can go a long way to help you understand concepts of business that may become crucial in your career - For example)</li>
                    <li>Modern language studies! (today is a global world - it is more important than ever to communicate across borders and work on a global scale. A modern language such as Mandarin (over 1 billion speakers in the world!) Spanish (there are over twenty Spanish speaking countries in the world) or French (the language of the high-end fashion companies) will go a long way in giving you a competitive advantage!)</li>
                    <li>Business or Economics (can help in building business acumen and knowledge you find useful if you choose to develop your own web app!)</li>
                </ol>
            </div>
        </div>
    </div>
    <br>
    <div class="step-control">
        <a href="{{ url_for('main.gamedev3') }}"><button>Back</button></a>
        <a href="{{ url_for('main.gamedev_finish') }}"><button id="finish-button">Finish!</button></a>
    </div>
    <div class="progress-bar-container">
        <div class="progress-bar-wrapper"></div>
        <script>
        //we can set animation delay as following in ms (default 1000)
        ProgressBar.singleStepAnimation = 1000;
        ProgressBar.init(
          [ 'Step 1: Understanding the role',
            'Step 2: Gain basic experience',
            'Step 3: Learn relevant skills',
            'Step 4: Further Learning'
          ],
          'Step 4: Further Learning',
          'progress-bar-wrapper'
        );
        </script>
    </div>
{% endblock %}