<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="././static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="../static/js/Chart.js"></script>
    <script src='../static/js/Chart.min.js'></script>
</head>
<body>
<nav class="navbar navbar-expand bg-primary navbar-dark">
    <a class="navbar-brand" href="#">GoodHabits</a>
   <a class="navbar-brand"><img src="../static/img/goodhabits.png" alt="Wayfinder Logo"></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.home') }}">Home</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('prof.profile') }}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
        </li>
        {% endif %}
    </ul>
</nav>
<br>
<div role=main class="container">
    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert-warning list-unstyled">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {# Child pages add page specific content here #}
    {% endblock %}
</div>
</body>
</html>