<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="../static/js/Chart.js"></script>
    <script src='../static/js/Chart.min.js'></script>
    <script src="../static/js/progress-bar.js"></script>
</head>
<header>
<nav class="topnav">
        <a class="logo" href="{{ url_for('main.home') }}"><img class="logo" src="../static/img/wayfinder.jpg" alt="Wayfinder"></a>
    {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
    {% else %}
        <a class="nav-link" href="{{ url_for('prof.profile') }}">Profile</a>
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
        {% endif %}
    </ul>
</nav>
</header>
<br>
<div role=main class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert-warning list-unstyled">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
     Child pages add page specific content here
    {% endblock %}
</div>
</html>