<!-- Use the base template -->
{% extends "base.html" %}
{# Add the title for this page #}
{% block title %}Home{% endblock %}
<!-- Content for this page -->
{% block content %}
    <body>
        <h1>Paths</h1>
        <br>
        <a href="{{ url_for('main.fashion') }}">
            <div class="post-card card" id="fashion-card">
                <h2>Fashion Management</h2>
                <div style="display: flex;">
                    <img src="../static/img/fashion.jpg" style="width: 500px;">
                    <article>Fashion Management is the occupation of organising all non-design components of a fashion business (fashion is not just clothing, it can be any decorative product). It involves the need to understand how to market the product, as well as deciding on what product to source from suppliers, and how much inventory to purchase and when.</article>
                </div>
            </div>
        </a>
        <br>
    </body>
{% endblock %}