<!-- Use the base template -->
{% extends "base.html" %}
{# Add the title for this page #}
{% block title %}Home{% endblock %}
<!-- Content for this page -->
{% block content %}
    <body>
        <h1>Paths</h1>
        <br>
        <a href="{{ url_for('main.fashion') }}">
            <div class="post-card card" id="fashion-card">
                <h2 class="post-card-title">Fashion Management</h2>
                <div style="display: flex;">
                    <img class="post-card-img" src="../static/img/fashion.jpg">
                    <article>Fashion Management is the occupation of organising all non-design components of a fashion business (fashion is not just clothing, it can be any decorative product). It involves the need to understand how to market the product, as well as deciding on what product to source from suppliers, and how much inventory to purchase and when.</article>
                    <button class="post-card-button" type="button">Start!</button>
                </div>
            </div>
        </a>
        <br>
        <a href="{{ url_for('main.webdev') }}">
            <div class="post-card card" id="fashion-card">
                <h2 class="post-card-title">Web Development</h2>
                <div style="display: flex;">
                    <img class="post-card-img" src="../static/img/webdev.jpeg">
                    <article>Working to develop the design components and the core functionality behind all modern websites and web-based applications. This involves designing and creating basic web pages (e.g. www.wikipedia.com) to complex web apps with lots of data stored (e.g. www.youtube.com) to online platforms with seamless connectivity (e.g. www.whatsapp.com) as well as the Wayfinder webapp you are currently using!</article>
                    <button class="post-card-button" type="button">Start!</button>
                </div>
            </div>
        </a>
    </body>
{% endblock %}