{% extends "base.html" %}
{% block title %} Signup {% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post novalidate>
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username, class='form-control') }}
            {{ render_field(form.email, class='form-control') }}
            {{ render_field(form.name, class='form-control') }}
            {{ render_field(form.age, class='form-control') }}
            {{ render_field(form.studies, class='form-control') }}
            {{ render_field(form.school, class='form-control') }}
            {{ render_field(form.password, class='form-control') }}
            {{ render_field(form.confirm, class='form-control') }}
        </dl>
        <br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}

