<!-- Use the base template -->
{% extends "overview.html" %}
{# Add the title for this page #}
{% block title %}Home{% endblock %}
<!-- Content for this page -->
{% block content %}
    <body>
        <h1>Paths</h1>
        <br>
        <div class="post-card">
            <h2>Fashion Management</h2>

            <p>Description</p>
        </div>
        <br>
        <div class="post-card">
            <h2>Software Development</h2>

            <p>Description</p>
        </div>
    </body>
{% endblock %}